VOICI LES RÈGLES :

Pas de contenu non apprprié.

Tout code utilisé doit voir le nom de son créateur mentionné.

Pas de contenu inaproprié.

Pas de contenu sans rapport avec la programmation ou son univers.

Soyez cool, respectueux et surtout amusez-vous !
